.main-layout-container {
  height: 100vh;
}

.spacer {
  flex: 1 1 auto;
}

.tenant-page-wrapper {
  padding: 128px 16px 16px 16px;
  background-color: var(--mat-sys-on-secondary);
  min-height: 100vh;
  padding-bottom: 30px;
}

.admin-page-wrapper {
  padding: 80px 16px 16px 16px;
  background-color: var(--mat-sys-on-secondary);
  min-height: 100vh;
  padding-bottom: 30px;
}

.nav-logo {
  height: 40px;
  width: auto;
  margin-right: 16px;
}

.enterprise {
  display: flex;
  align-items: center;
  font-size: 16px;
  font-weight: 600;
  gap: 8px;
  color: var(---mat-sys-primary);
}

.enterprise mat-icon {
  font-size: 24px;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  background-color: var(--mat-sys-primary);
  color: var(--mat-sys-background);
}

/* .nav-logo {
  width: 2.5rem; 
  height: 2.5rem;
  background: linear-gradient(
    to bottom right,
    #2563eb,
    #8b5cf6
  ); 
  border-radius: 0.75rem; 
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
} */

.theme-color {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 24px;
  height: 24px;
  border-radius: 50%;
}

.bread-crumbs {
  color: var(--mat-sys-inverse-surface);
  font-size: 16px;
  font-weight: 500;
}

.dark-grey {
  color: var(--mat-sys-inverse-surface);
}

.home-icon {
  border-radius: 50%;
  padding: 4px;
}

.sticky-toolbar {
  position: fixed;
  top: 0;
  z-index: 100;
}

.home-button button {
  border-radius: 50%;
  border: 2px solid var(--mat-sys-primary);
  background-color: var(--mat-sys-surface);
  box-shadow: none;
}

.home-button mat-icon {
  color: var(--mat-sys-primary);
}

.nav-link {
  font-size: 14px;
  font-weight: 500;
  color: var(--mat-sys-inverse-surface);
  display: flex;
  align-items: center;
}

.nav-link.active,
.link-icons.active {
  color: var(--mat-sys-primary);
}

.link-icons {
  font-size: 18px;
  padding: 3px;
}

.navigation-links {
  height: 45px;
}

.navbar-first {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid var(--mat-sys-outline-variant);
}

div,
p,
span,
h1,
h4,
h5,
h6 {
  color: var(--mat-sys-inverse-surface);
}

.action-btn {
  font-size: larger;
  display: flex;
  justify-content: center;
  align-items: center;
}
