<div class="container-fluid">
  <div class="d-flex justify-content-between align-items-center mb-4">
    <div>
      <h4>Stock Management</h4>
      <p>Track all inventory transactions and changes</p>
    </div>
    <button mat-fab extended color="primary" (click)="onAddStock()">
      <mat-icon>add</mat-icon> Add Stock
    </button>
  </div>
  <div class="d-flex flex-row gap-3">
    <!-- Filter section: 20% width -->
    <div style="width: 20%">
      <mat-card class="p-4 mb-2">
        <mat-card-header>
          <p
            class="fs-5 fw-semibold text-muted d-flex align-items-center gap-2">
            Filter <mat-icon>filter_alt</mat-icon>
          </p>
        </mat-card-header>
        <mat-card-content>
          <form [formGroup]="filterForm">
            <mat-form-field class="w-100">
              <input
                matInput
                formControlName="reference_number"
                type="text"
                placeholder="Reference Number" />
            </mat-form-field>
            <mat-form-field class="w-100">
              <mat-select
                placeholder="Movement Type"
                formControlName="movement_type">
                <mat-option value="IN">In</mat-option>
                <mat-option value="OUT">Out</mat-option>
              </mat-select>
            </mat-form-field>
            <!-- <mat-form-field class="w-100">
              <input
                matInput
                formControlName="supplier_id"
                type="text"
                placeholder="Supplier Id" />
            </mat-form-field>
            <mat-form-field class="w-100">
              <input
                matInput
                formControlName="product_id"
                type="text"
                placeholder="Product Id" />
            </mat-form-field> -->
          </form>
        </mat-card-content>
        <mat-card-actions align="end">
          <button mat-button (click)="onApply()">Apply</button>
          <button mat-button (click)="onReset()">Reset</button>
        </mat-card-actions>
      </mat-card>
    </div>

    <!-- Main content: 80% width -->
    <div style="width: 80%">
      <app-stock-list (emitEvent)="onEmitEvent($event)"></app-stock-list>
    </div>
  </div>
</div>

<ng-template #addStockDialog>
  <h2 mat-dialog-title>Add Stock</h2>
  <mat-dialog-content>
    <form [formGroup]="addStockForm" class="d-flex flex-column gap-3 my-4">
      <mat-form-field appearance="outline">
        <mat-label>Product</mat-label>
        <mat-select formControlName="productId">
          <mat-option
            *ngFor="let product of arrProducts"
            [value]="product.product_id">
            {{ product.product_name }}
          </mat-option>
        </mat-select>
        <mat-error> Field is required </mat-error>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Supplier</mat-label>
        <mat-select formControlName="supplierId">
          <mat-option
            *ngFor="let supplier of arrSuppliers"
            [value]="supplier.supplier_id">
            {{ supplier.supplier_name }}
          </mat-option>
        </mat-select>
        <mat-error> Field is required </mat-error>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Price</mat-label>
        <input
          matInput
          type="text"
          placeholder="Price"
          formControlName="price" />
        <mat-error> Field is required </mat-error>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Movement Type</mat-label>
        <mat-select formControlName="movementType">
          <mat-option value="IN">In</mat-option>
          <mat-option value="OUT">Out</mat-option>
        </mat-select>
        <mat-error> Field is required </mat-error>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Quantity</mat-label>
        <input
          matInput
          type="number"
          placeholder="Quantity"
          formControlName="quantity" />
        <mat-error> Field is required </mat-error>
      </mat-form-field>
    </form>
  </mat-dialog-content>
  <mat-dialog-actions align="end">
    <button mat-button [mat-dialog-close]="true" color="warn">Cancel</button>
    <button
      mat-button
      color="primary"
      [disabled]="!addStockForm.valid"
      (click)="onAddStockSave()">
      Save
    </button>
  </mat-dialog-actions>
</ng-template>

<ng-template #deleteStockDialog>
  <h2 mat-dialog-title>Delete Stock</h2>
  <mat-dialog-content>
    Are you sure you want to delete stock "{{ selectedStock.stock_id }}"?
  </mat-dialog-content>
  <mat-dialog-actions align="end">
    <button mat-button [mat-dialog-close]="true">Cancel</button>
    <button mat-button color="warn" (click)="onDeleteStock()">Delete</button>
  </mat-dialog-actions>
</ng-template>
