<div class="container-fluid">
  <div class="d-flex justify-content-between align-items-center mb-4">
    <div>
      <h4>Supplier Management</h4>
      <p>Track all suppliers</p>
    </div>
    <button mat-fab extended color="primary" (click)="onAddSupplier()">
      <mat-icon>add</mat-icon> Add Supplier
    </button>
  </div>
  <div class="d-flex flex-row gap-3">
    <!-- Filter section: 20% width -->
    <div style="width: 20%">
      <mat-card class="p-4 mb-2">
        <mat-card-header>
          <p
            class="fs-5 fw-semibold text-muted d-flex align-items-center gap-2">
            Filter <mat-icon>filter_alt</mat-icon>
          </p>
        </mat-card-header>
        <mat-card-content>
          <form [formGroup]="filterForm">
            <mat-form-field class="w-100">
              <input
                matInput
                formControlName="supplier_name"
                type="text"
                placeholder="Supplier Name" />
            </mat-form-field>
            <mat-form-field class="w-100">
              <input
                matInput
                formControlName="supplier_code"
                type="text"
                placeholder="Supplier Code" />
            </mat-form-field>
          </form>
        </mat-card-content>
        <mat-card-actions align="end">
          <button mat-button (click)="onApply()">Apply</button>
          <button mat-button (click)="onReset()">Reset</button>
        </mat-card-actions>
      </mat-card>
    </div>

    <!-- Main content: 80% width -->
    <div style="width: 80%">
      <app-supplier-list (emitEvent)="onEmitEvent($event)"></app-supplier-list>
    </div>
  </div>
</div>

<ng-template #addSupplierDialog let-data>
  <h2 mat-dialog-title>{{ data.isEdit ? 'Edit' : 'Add' }} Supplier</h2>
  <mat-dialog-content>
    <form [formGroup]="addSupplierForm" class="d-flex flex-column gap-3 my-4">
      <mat-form-field appearance="outline">
        <mat-label>Supplier Code</mat-label>
        <input
          matInput
          type="text"
          placeholder="Supplier Code"
          formControlName="supplierCode" />
        <mat-error> Supplier Code is required </mat-error>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Supplier Name</mat-label>
        <input
          matInput
          type="text"
          placeholder="Supplier Name"
          formControlName="supplierName" />
        <mat-error> Supplier Name is required </mat-error>
      </mat-form-field>
    </form>
  </mat-dialog-content>
  <mat-dialog-actions align="end">
    <button mat-button [mat-dialog-close]="true" color="warn">Cancel</button>
    <button
      mat-button
      color="primary"
      [disabled]="!addSupplierForm.valid"
      (click)="data.isEdit ? onEditSupplier() : onAddSupplierSave()">
      Save
    </button>
  </mat-dialog-actions>
</ng-template>

<ng-template #deleteSupplierDialog>
  <h2 mat-dialog-title>Delete Supplier</h2>
  <mat-dialog-content>
    Are you sure you want to delete supplier "{{
      selectedSupplier.supplier_name
    }}"?
  </mat-dialog-content>
  <mat-dialog-actions align="end">
    <button mat-button [mat-dialog-close]="true">Cancel</button>
    <button mat-button color="warn" (click)="onDeleteSupplier()">Delete</button>
  </mat-dialog-actions>
</ng-template>
