<div class="container-fluid">
  <div class="d-flex justify-content-between align-items-center mb-4">
    <div>
      <h4>User Management</h4>
      <p>Manage user accounts and permissions</p>
    </div>
    <button mat-fab extended color="primary" (click)="onAdduser()">
      <mat-icon>add</mat-icon> Add User
    </button>
  </div>
  <!-- <app-user-list (emitEvent)="onEmitEvent($event)"></app-user-list> -->

  <div class="d-flex flex-wrap gap-3">
    <app-user-card (emitEvent)="onEmitEvent($event)"></app-user-card>
  </div>
</div>

<ng-template #addUserDialog>
  <h2 mat-dialog-title>Add User</h2>
  <mat-dialog-content>
    <form [formGroup]="userForm" class="d-flex flex-column gap-3 my-4">
      <div class="d-flex justify-content-between align-items-center gap-3">
        <mat-form-field class="flex-fill">
          <mat-label>First Name</mat-label>
          <input
            matInput
            formControlName="first_name"
            placeholder="First Name" />
          <mat-error *ngIf="userForm.get('first_name')?.hasError('required')">
            Field is required
          </mat-error>
        </mat-form-field>
        <mat-form-field class="flex-fill">
          <mat-label>Last Name</mat-label>
          <input matInput formControlName="last_name" placeholder="Last Name" />
          <mat-error *ngIf="userForm.get('last_name')?.hasError('required')">
            Field is required
          </mat-error>
        </mat-form-field>
      </div>
      <mat-form-field>
        <mat-label>Phone Number</mat-label>
        <input
          type="number"
          matInput
          formControlName="phone_number"
          placeholder="Phone Number" />
        <mat-error *ngIf="userForm.get('phone_number')?.hasError('required')">
          Field is required
        </mat-error>
        <mat-error *ngIf="userForm.get('phone_number')?.hasError('pattern')">
          Invalid phone number
        </mat-error>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Email</mat-label>
        <input matInput formControlName="email" placeholder="Email" />
        <mat-error *ngIf="userForm.get('email')?.hasError('required')">
          Field is required
        </mat-error>
        <mat-error *ngIf="userForm.get('email')?.hasError('email')">
          Invalid email
        </mat-error>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Password</mat-label>
        <input
          type="text"
          matInput
          formControlName="password"
          placeholder="Password" />
        <mat-error *ngIf="userForm.get('password')?.hasError('required')">
          Field is required
        </mat-error>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Role</mat-label>
        <mat-select formControlName="role_id" placeholder="Role">
          <mat-option *ngFor="let role of arrRoles" [value]="role.value">
            {{ role.label }}
          </mat-option>
        </mat-select>
        <mat-error *ngIf="userForm.get('role_id')?.hasError('required')">
          Field is required
        </mat-error>
      </mat-form-field>
    </form>
  </mat-dialog-content>
  <mat-dialog-actions align="end">
    <button mat-button [mat-dialog-close]="true" color="warn">Cancel</button>
    <button
      mat-button
      color="primary"
      [disabled]="!userForm.valid"
      (click)="onAddUserSave()">
      Save
    </button>
  </mat-dialog-actions>
</ng-template>

<ng-template #deleteUserDialog>
  <h2 mat-dialog-title>Delete User</h2>
  <mat-dialog-content>
    Are you sure you want to delete user "{{ selectedUser.full_name }}"?
  </mat-dialog-content>
  <mat-dialog-actions align="end">
    <button mat-button [mat-dialog-close]="true">Cancel</button>
    <button mat-button color="warn" (click)="onDeleteUser()">Delete</button>
  </mat-dialog-actions>
</ng-template>
