/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: 'Inter', sans-serif;
}

.mat-icon {
  color: #bbc6ef;
  cursor: pointer;
}

.mat-icon {
  color: var(--mat-sys-primary);
}

.primary-color {
  color: var(--mat-sys-primary);
}

.warn-color {
  color: var(--mat-sys-warn);
}

.danger-color {
  color: var(--mat-sys-error);
}

.primary-title {
  color: var(--mat-sys-primary);
  font-size: 18px;
  font-weight: 500;
}

.details-section label {
  color: var(--mat-sys-tertiary);
  font-size: 14px;
}

.details-section p {
  font-size: 16px;
  letter-spacing: 0px;
  color: var(--mat-sys-on-surface);
}

.mat-mdc-dialog-title {
  color: var(--mat-sys-primary) !important;
}

.mat-mdc-tab-body-content {
  padding: 10px;
}

.custom-table {
  width: 100%;
  border-radius: 12px;
  overflow: hidden;
  background: var(--mat-sys-on-secondary);
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.05);
  font-family: 'Segoe UI', sans-serif;
  border-collapse: separate;
  border-spacing: 0;
  margin-bottom: 10px;
}

.custom-table th {
  color: var(--mat-sys-on-surface);
  background-color: var(--mat-sys-surface-container-high) !important;
  font-size: 13px;
  padding: 12px 16px;
  text-align: left;
}

.custom-table td {
  color: var(--mat-sys-outline);
  font-size: 14px;
  padding: 12px 16px;
  vertical-align: middle;
  border-bottom: 1px solid #eeeeee; /* 💡 Light row border */
}

/* Optional: Remove last row border */
.custom-table tr:last-child td {
  border-bottom: none;
}

.mat-mdc-paginator {
  border-radius: 12px;
}
