<div class="container-fluid">
  <div class="d-flex justify-content-between align-items-center mb-4">
    <div>
      <h4>Categories</h4>
      <p>Manage your product categories</p>
    </div>
    <button mat-fab extended color="primary" (click)="onAddCategory()">
      <mat-icon>add</mat-icon> Add Category
    </button>
  </div>

  <mat-card class="p-4 mb-2">
    <mat-form-field class="w-100">
      <input
        matInput
        type="text"
        placeholder="Search by name or code"
        [(ngModel)]="searchTerm"
        (ngModelChange)="onSearchChange($event)" />
    </mat-form-field>
  </mat-card>

  <app-category-list (emitEvent)="onEmitEvent($event)"></app-category-list>
</div>

<ng-template #addCategoryDialog>
  <h2 mat-dialog-title>
    {{ dialogData.isEdit ? 'Edit Category' : 'Add Category' }}
  </h2>
  <mat-dialog-content>
    <form [formGroup]="addCategoryForm" class="d-flex flex-column gap-3 my-4">
      <mat-form-field appearance="outline">
        <mat-label>Category Code</mat-label>
        <input
          matInput
          type="text"
          placeholder="Category Code"
          formControlName="categoryCode" />
        <mat-error> Field is required </mat-error>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Category Name</mat-label>
        <input
          matInput
          type="text"
          placeholder="Category Name"
          formControlName="categoryName" />
        <mat-error> Field is required </mat-error>
      </mat-form-field>
    </form>
  </mat-dialog-content>
  <mat-dialog-actions align="end">
    <button mat-button [mat-dialog-close]="true" color="warn">Cancel</button>
    <button
      mat-button
      color="primary"
      [disabled]="!addCategoryForm.valid"
      (click)="dialogData.isEdit ? onEditCategory() : onAddCategorySave()">
      Save
    </button>
  </mat-dialog-actions>
</ng-template>

<ng-template #deleteCategoryDialog>
  <h2 mat-dialog-title>Delete Category</h2>
  <mat-dialog-content>
    Are you sure you want to delete category "{{
      selectedCategory?.category_name
    }}"?
  </mat-dialog-content>
  <mat-dialog-actions align="end">
    <button mat-button [mat-dialog-close]="true">Cancel</button>
    <button mat-button color="warn" (click)="onDeleteCategory()">Delete</button>
  </mat-dialog-actions>
</ng-template>
